#b {
    height: 19.556%;
    padding: 9.778% 0;
  }

  .cd{
    height: 16.297%;
    padding: 8.133% 0;
  }

  .four:parent {
    height: 32.595%;
  }

  .four{
    width: 49%;
    padding: 16.297% 0; 
    display: inline-block;
    border: none;
  }

  #e, #g{
    border-right: thin solid rgb(100, 100, 100);
  }
  
  #f, #h{
    border-left: thin solid rgb(100, 100, 100);
  }
  
  #i{
    height: 10.165%;
    padding: 5.082% 0;
  }
  